:root {
    --background-color: #ffffff;
    --text-color: #24292e;
    --link-color: #0366d6;
    /* --code-bg-color: #f6f8fa; */
    /* --code-text-color: #24292e; */
    --border-color: #e1e4e8;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0d1117;
        --text-color: #c9d1d9;
        --link-color: #58a6ff;
        --code-bg-color: #161b22;
        --code-text-color: #c9d1d9;
        --border-color: #30363d;
    }
}

.preview-post {
    body {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
        line-height: 1.6;
        padding: 20px;
        background-color: var(--background-color);
        color: var(--text-color);
        transition: background-color 0.3s, color 0.3s;
    }

    /* Headings */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--text-color);
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 0.3em;
        margin-top: 1.5em;
    }

    /* Links */
    a {
        color: var(--link-color);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    /* Blockquotes (> quote) */
    blockquote {
        margin: 0 0 15px;
        padding: 0 1em;
        color: var(--text-color);
        border-left: 0.25em solid var(--border-color);
    }

    /* Tables */
    table {
        display: block;
        width: 100%;
        overflow: auto;
        border-collapse: collapse;
        border-spacing: 0;
    }

    table th {
        font-weight: 600;
    }

    table th,
    table td {
        padding: 6px 13px;
        border: 1px solid var(--border-color);
    }

    table tr:nth-child(2n) {
        background-color: var(--code-bg-color);
    }

    body {
        display: flex;
    }

    content {
        margin-left: 50px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.75rem;
    }

    p,
    li,
    blockquote {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1em;
    }

    small {
        font-size: 0.875rem;
    }

    code,
    pre {
        font-size: 0.9rem;
        font-family: monospace;
    }
}
