services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
      - WATCHPACK_POLLING=true  # Crucial for Linux/Arch to detect file saves
      - NODE_ENV=production
    # command: bun run dev        # Overwrites production 'server.js' with dev server
    depends_on:
      - backend

  backend:
    build: ./backend
    volumes:
      - ./backend:/var/www
    environment:
      - DB_CONNECTION=${DB_CONNECTION}
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    networks:
      - frontend_net
      - backend_net
    restart: always 

  db:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=${POSTGRES_DB_CONNECTION}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend_net 

  nginx:
    image: nginx:alpine
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro # Read-only mount
    networks:
      - frontend_net
    depends_on:
      - backend 

networks:
  frontend_net: # Frontend & Nginx
  backend_net:  # Backend & DB only (Isolated)

volumes:
  pgdata:
